{^}

{% block head %}
  {{ super() }}
  {% include  'headers/feeds.html' %}
  
{% endblock head %}

{% block title %}
  {{ super() }}

  {% if TITLE %}
    {{ TITLE }}
  {% else %}
    {{ SITENAME }}
  {% endif %}

{% endblock title %}  

{% block style %}
  {{ super() }}
  {% include  'headers/studio.html' %}
{% endblock style %}


{% block navigation %}
  {{ super() }}
  <!-- Nav bar-->
  {% include  'chunks/nav.html' %}

{% endblock navigation %}  

{% block content %}
  {{ super() }}

{% endblock content %}

{% block footer %}
  {{ super() }}

  <!-- footer -->
  {% include  'chunks/footer.html' %}

{% endblock footer %} 


